<!doctype html>
<html lang="en">
<body>
<div id="colorlib-page">
    <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
    <aside id="colorlib-aside" role="complementary" class="js-fullheight">
        <nav id="colorlib-main-menu" role="navigation">
            <a href="#">Здравсвуйте Кто-то там</a>
            <ul>
                <li class="colorlib-active"><a href="#">Главная страница</a></li>
                <li><a href="#">Вход</a></li>
                <li><a href="#">Регистрация</a></li>
            </ul>
        </nav>
    </aside> <!-- END COLORLIB-ASIDE -->
</div><!-- END COLORLIB-PAGE -->
</body>
</html>

